  <div class="grid lg:grid-cols-2" style="height: 100%;">
    <div class="bg-blue-900 p-3 shadow-lg"
      style="background-image: url('assets/login.jpg'); background-size: cover; background-position: center center;">
      <div class=" mx-auto max-w-screen-2xl text-center py-24 lg:py-24">
        <h1 class=" text-xl font-bold text-white lg:text-xl ">
          <div class="flex items-center justify-center">
            <img src="assets/logo.png" alt="Descriptive Alt Text" width="150">
          </div>
          JUNIOR HIGH | SENIOR HIGH SCHOOL
        </h1>
        <br><br>
        <h1 class="mb-2 text-5xl font-extrabold tracking-tight leading-none text-yellow-300 md:text-6xl lg:text-6xl">
          ONLINE REGISTRATION</h1>
        <h1 class="font-extrabold text-white text-2xl">S.Y. 2023 - 2024</h1>
      </div>
    </div>
    <div class="p-5 bg-gray-100">
      <br><br><br>
      <div class="max-w-xl mx-auto h-auto  p-5 rounded-lg mt-10 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="text-3xl sm:text-4xl font-bold text-blue-900 text-center mb-4 mt-5">
          <!-- <i class="fa fa-user-circle" aria-hidden="true"></i> -->
          ADMIN LOGIN
        </h5>
        <br>
        <form class=" p-6" [formGroup]="login">
          <div *ngIf="err" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium">Invalid!</span> email or password.
          </div>
          <div class="mb-3">
            <label for="email" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
              Username
            </label>
            <input type="text" id="email" formControlName="email"
              class="bg-gray-50 border border-gray-200 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div class="mb-8">
            <label for="password" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
              Password
            </label>
            <input type="password" id="password" formControlName="pass"
              class="bg-gray-50 border border-gray-200 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div class="grid gap-6 mb-1 md:grid-cols-2">
            <div>
              <button type="submit" (click)="submit()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outpne-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
